{% extends "base.html" %}
{%import "bootstrap/wtf.html" as wtf %}


{% block  body %}

{{super()}}
 <!-- main section -->
     <section class="main-section text-center section-light" id = "main-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="{{url_for('static',filename='images/profile_picture.png')}}" class="rounded-circle img-thumbnail" alt="profile picture">
                    {% with messages = get_flashed_messages() %}
                     {% if messages %}
                      <div id="flash-message">
                      {% for message in messages %}

                        <p class="flash-message">{{ message }}</p>
                      {% endfor %}
                          </div>
                     {% endif %}
                    {% endwith %}
                    <h1 class="display-4 my-3">Harinder Singh</h1>
                    <h2 class="text-secondary mb-4">Full Stack Web Developer</h2>
                    <p class="lead mb-5">Creating innovative and efficient solutions that make a real impact.</p>
                    <div class="d-flex justify-content-center">
                      <a href="{{url_for('cv')}}" class="btn btn-primary mx-2 main-btn-left">View CV</a>
                      <a href="#contact-me" class="btn btn-secondary mx-2 main-btn-right">Contact Me</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main section end -->
   <!-- project section -->
   <section id="projects">

    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading">My Projects
                {% if current_user.is_authenticated %}
                <a href="{{url_for('add',model_name='project')}}" class="my-btn"><i class="fa-solid fa-plus"></i></a>
                {% endif %}
                </h2>
                <p class="section-subheading">A selection of my most recent and relevant projects.</p>
            </div>
        </div>

        <!-- project items -->
      <div class="row">
        {%for project in projects%}
        <div class="col-md-6 col-lg-4 mt-4   project-item">
          <div class="card">
            <img src="{{project.image_url}}" class="card-img-top" alt="Project 1">
            <div class="card-body">
              <h5 class="card-title">
                  {{project.title}}
              {% if current_user.is_authenticated %}
              <a href="{{url_for('edit',model_name='project', model_id = project.id)}}" class="my-btn"><i class="fa-solid fa-pen-to-square"></i></a>
              <a  href="{{url_for('delete',model_name='project', model_id = project.id)}}" class="delete-link my-btn"><i class="fa-solid fa-trash"></i></a>
               {%endif%}
              </h5>

              <p class="card-text">{{project.description[:160]}}...</p>
              <a href="{{project.github_link}}" class="btn btn-primary github-link" target="_blank">View on GitHub</a>
            </div>
          </div>
        </div>
         {%endfor%}

      </div>
    </div>
        <!-- show all -->
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <a href="{{url_for('projects')}}" class="btn btn-primary btn-lg show-all-button">Show All <i class="fas fa-arrow-right fa-lg"></i></a>
            </div>
        </div>
   </section>


   <!-- project section end -->

   <!-- skills-section- start -->
   <section id="skills-section" class="section-light">
   <div class="container py-5">
    <h2 class="section-heading">My Skills
    {% if current_user.is_authenticated %}
    <a href="{{url_for('add',model_name='skill')}}" class="my-btn"><i class="fa-solid fa-plus"></i></a>
    {% endif%}
    </h2>
    <div class="accordion" id="skillsAccordion">
        {%for skill in skills%}
        <div class="accordion-item">
            <div class="accordion-header skill-header" id="heading{{skill.id}}">
                <h2 class="mb-0">
                    <button class="accordion-button {{'collapsed' if skills.index(skill)}} skill-btn" type="button" data-bs-toggle="collapse" data-bs-target="#skill{{skill.id}}" aria-expanded="{{'false' if skills.index(skill) else 'true'}}" aria-controls="skill{{skill.id}}">
                        {{skill.title}}
                        {% if current_user.is_authenticated %}
                        <a href="{{url_for('edit',model_name='skill', model_id = skill.id)}}" class="my-btn "><i class="fa-solid fa-pen-to-square"></i></a>
                      <a  href="{{url_for('delete',model_name='skill', model_id = skill.id)}}" class="delete-link my-btn"><i class="fa-solid fa-trash"></i></a>
                        {% endif%}
                        <span class="badge  skill-badge">{{skill.proficiency}}</span>
                    </button>
                </h2>
            </div>
            <div id="skill{{skill.id}}" class="accordion-collapse collapse {{'show' if skills.index(skill)==0}}" aria-labelledby="heading{{skill.id}}" data-bs-parent="#skillsAccordion">
                <div class="accordion-body skill-body">
                    <p>{{skill.description}}</p>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
</section>
   <!-- skills-section- end -->

   <!-- contact-me- start -->
   <section id="contact-me" class="section-dark">
    <div class="container py-5">
        <h2 class="section-heading">Contact Me</h2>
        <p class="section-subheading">I would love to hear from you! Please fill out the form below to get in touch.</p>

        <!--form-->
        {{wtf.quick_form(form,action=url_for('user_data')) }}
    </div>


   </section>
   <!-- contact-me- end -->

   <!-- footer start -->

    <footer id = "footer" class=" py-3 section-dark">
        <div class="container py-5">
            <p class="text-center">Copyright &copy; Harinder Singh 2023</p>
            <div class="d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/harindersingh441" target="_blank">
                    <i class="fab fa-linkedin fa-2x mx-3"></i>
                </a>
                <a href="https://github.com/Harinder441" target="_blank">
                    <i class="fab fa-github fa-2x mx-3"></i>
                </a>
                <a href="mailto:harindersingh2107@gmail.com">
                    <i class="fas fa-envelope fa-2x mx-3"></i>
                </a>
            </div>
        </div>
    </footer>



   <!-- footer end -->
{% endblock %}
