{% extends "base.html" %}
{%import "bootstrap/wtf.html" as wtf %}
{% block  body %}

{{super()}}
<section class="section-dark mt-4">
    <h1 class="section-heading">All Messages</h1>
    {% for msg in messages %}
     <div class="row">
         <div class="col-3">
             <a href="mailto:{{msg.email}}">{{msg.email}}</a>
         </div>
          <div class="col-3">
            {{msg.massage}}
              {% if current_user.is_authenticated %}
              <a  href="{{url_for('delete',model_name='usermsg', model_id = msg.id)}}" class="delete-link my-btn"><i class="fa-solid fa-trash"></i></a>
               {%endif%}
         </div>
     </div>
    {% endfor%}

</section>

{% endblock%}
